@charset "utf-8";

.main-header nav {
	background: url(../img/nav_ul__bg.jpg) repeat-x;
	position: relative;
}
.main-header nav:before {
	content: '';
	display: block;
	height: ;
	width: ;
	background: url() no-repeat center left;
	position: absolute;
	left: 0;
	top: 0;
}
.main-header nav:after {
	content: '';
	display: block;
	height: ;
	;
	width: ;
	background: url() no-repeat center right;
	position: absolute;
	right: 0;
	top: 0;
}
.main-header nav li {
	background: url(../img/nav_li__bg.jpg) repeat-x;
	position: relative;
}
.main-header nav li:after {
	content: '';
	display: block;
	height: ;
	width: ;
	background: url(../img/nav_li__brd.jpg) no-repeat right;
	position: absolute;
	right: 0;
	top: 0;
}
.main-header nav li:first-child:before {
	content: '';
	display: block;
	height: ;
	width: ;
	background: url(../img/nav_li__brd.jpg) no-repeat left;
	position: absolute;
	left: 0;
	top: 0;
}
